//项目通用样式
@import './base/base'

.user
  width 1200px
  height 100%
  margin 0 auto
  .center
    height 433px
    margin 0 auto
    .cen
      width 33.33%
      float left
      height 431px
      overflow hidden
      .cencen
        margin-left 12px
      .cencen2
        padding-left 42px
        padding-right 42px
      .leftcen
        // background #F7FAFB
        background rgba(211, 220, 230, 0.44)
        padding 27px 35px
        .title
          text-align center
        .chose
          height 45px
          background rgba(225, 223, 216, 0.1)
          line-height 45px
          padding-left 17px
          margin-top 16px
          border 1px solid #f0f0f0
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
          .inlinespan
            display inline
            color #598dd6
        .chose1
          margin-left -13px
        .chioce1
          margin-left -13px
        .chioce
          margin-top 5px
          height 256px
          background rgba(225, 223, 216, 0.1)
          padding-top 1px
          overflow hidden
          border 1px solid #F0F0F0
          .addchi
            height 256px
            width 345px
            overflow auto
            p
              padding-left 18px
              margin-top 9px
              overflow hidden
              text-overflow ellipsis
              white-space nowrap
              height 21px
              input
                cursor pointer
              label
                margin-left 13px
                cursor pointer
        .ope
          margin-top 14px
          span
            cursor pointer
          .clear
            float right
        .bot
          margin-bottom 13px
        .all
          margin-top 28px
          .posicss
            position absolute
            margin-left 14px
            margin-top 10px
          .alin
            height 40px
            background rgba(225, 223, 216, 0.1)
            width 97.6%
            border 1px solid #F0F0F0
            text-indent 80px
            &:focus
              outline none
          button
            width 33%
            height 40px
            border 1px solid #F0F0F0
            background rgba(225, 223, 216, 0.1)
            &.active
              background #598dd6
              color #ffffff
            &:focus
              outline none
              border 0
          .sex
            margin-left -7px
            &.active
              background #598dd6
              color #ffffff
              outline none
              border 0
          .radius
          .radius1
            &.active
              background #598dd6
              color #ffffff
              outline none
              border 0
          .colordiv
            margin-left 20px
            margin-right 20px
          .inlinediv
            width 86px
            height 40px
            .other
              width 120px
              height 40px
              background rgba(225, 223, 216, 0.1)
              border 1px solid #F0F0F0
              text-indent 5px
              &:focus
                outline none
            .first
              position absolute
              margin-left 87px
              margin-top -30px
            .second
              position absolute
              margin-left 276px
              margin-top -30px
  .footer
    clear both
    margin 0 auto
    height 148px
    // background #F7FAFB
    background rgba(211, 220, 230, 0.44)
    margin-bottom 11px
    text-align center
    position relative
    .sousuo
      float right
      margin-right 60px
      margin-top 46px
      cursor pointer
    .imgfot
      display inline-block
      margin-left 70px
      line-height 150px
      margin-top 10px
      img
        max-height 129px
        cursor pointer
      .file
        display none
    .filepic
      background transparent
      border 0
      position absolute
      bottom 85px
      margin-left 10px
      &:focus
        outline none
      .jia
        color #598dd6
      .file
        display none
      label
        cursor pointer
    .reset
      display inline-block
      position absolute
      bottom 57px
      margin-left 30px
      .resetbtn
        background transparent
        border 0
        &:focus
          outline none
