//项目通用样式
@import './base/base'

.login-page
  position absolute
  width 400px
  height 300px
  background #F1F4F5
  left 50%
  top 50%
  margin-left -200px
  margin-top -150px
  .head
    padding-left 7px
    padding-top 7px
    height 53px
    background #598dd6
    text-align center
    .logopic
      height 15px
      float left
    .adddesc
      clear both
      font-size 20px
      color #ffffff
  .page-body
    text-align center
    margin 50px auto
    .label
      margin-top 11px
      input
        width 240px
        height 40px
        border 1px solid #598dd6
        padding-left 13px
        color #000000
        &:focus
          outline none
      .abtn
        width 90px
        height 35px
        background #598dd6
        vertical-align middle
        text-align center
        color #ffffff
        border 1px solid #598dd6
        &:focus
          outline none
